html, body {
    width: 100%;
    margin: 0;
}

body {
    background-color: black;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.font {
    font-family: 'Shadows Into Light', cursive;
    color: whitesmoke;
    font-weight: bolder;
}

.font-lg {
    font-size: 20px;
}

.font-xl {
    font-size: 30px;
}

h1 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}


#header {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 1rem auto 0;
}

/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    margin-top: 1rem;
    margin-bottom: 5px;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar li {
    flex: 0 0 50%;
}

/* Navigation links */
.navbar a {
    display: block;
    padding: 12px;
    color: whitesmoke;
    border: 10px rgb(16, 15, 14);
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Shadows Into Light', cursive;
    text-align: center; /* If you want the text to be centered */
}

/*footer*/
#footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;
    padding-bottom: 1rem;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

#footer p {
    margin: 0;
}

.footer-logo {
    flex: 0 1 200px;
    width: 200px;
    margin: 0 auto;
}

.footer-icon {
    height: 50px;
    width: auto;
}

.footer-copyright {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex: 1;
}

.footer-logo img {
    display: block;
    width: 100%;
}

.footer-contact {
    flex: 1;
    display: flex;
    gap: 1rem;
}


.footer-contact p {
    margin: 0;
}

.footer-contact a, .footer-copyright img {
    flex: 0 0 auto;
}

a {
    color: whitesmoke
}

a:hover {
    background-color: #727272;
}

/*Home Page*/
.home-pic {
    width: 400px;
}

/*About*/
.about ul {
    color: whitesmoke;
    font-size: 30px;
}

.about li {
    margin: 10px 0;
}

/*map*/

iframe {
    position: relative;
    top: 400px;
    left: 800px;
    width: 250px;
    height: 250px;
}

/*Contact Me*/
#contact-form-container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

#message-me {
    margin-bottom: 0;
}

/* Style inputs */
input[type=text], [type=email], textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    font-size: larger;
    background-color: white;
    cursor: pointer;
}

/* Style the submit button */
button[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    font-size: larger;
    height: 50px;
}

/* Add a background color to the submit button on mouse-over */
button[type=submit]:hover {
    background-color: #45a049;
}

textarea {
    resize: none;
}

input:hover {
    background-color: rgb(214, 214, 214);
    cursor: pointer;
}

textarea:hover {
    background-color: rgb(214, 214, 214);
    cursor: pointer;
}

/*terms & conditions */
#terms-and-conditions {
    font-size: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.row > .col, .row > [class*=col-] {
    position: relative;
    min-height: 1px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.row > .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.row > .col-full {
    flex: 0 0 100%;
    max-width: 100%;
}

.row > .col-1\/2 {
    flex: 0 0 50%;
    max-width: 50%;
}

@media screen and (min-width: 640px) {

    #header, .navbar {
        margin-top: 2rem;
    }

    .navbar li {
        flex: auto;
    }

    .row > .sm\:col-1\/2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .row > .md\:col-1\/2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 1024px) {

    .row > .lg\:col-1\/2 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home-pic {
        margin: 0 auto;
    }

    #footer {
        flex-direction: row;
        align-items: flex-end;
        max-width: 100%;
    }

    .footer-copyright {
        order: 1;
        flex-direction: row-reverse;
    }

    .footer-logo {
        order: 2;
    }

    .footer-contact {
        order: 3;
    }

    .footer-contact, .footer-copyright {
        align-items: flex-end;
    }
}
